nav#navigation.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
  ul
    li
      a(href="/") Home
    li
      a(href="/games/") Find common games
    li
      a(href="/users/login")
        img(src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png")
