doctype
html
  head
    title= "Carpenter"
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    // SCRIPTS
    script(type="text/javascript", src="/linker/js/socket.io.js")
    script(type="text/javascript", src="/linker/js/sails.io.js")
    script(type="text/javascript", src="/linker/js/app.js")
    script(type="text/javascript", src="/linker/js/carpenter.js")
    // SCRIPTS END
    // STYLES
    link(rel="stylesheet", href="/bower_components/normalize-css/normalize.css")
    link(rel="stylesheet", href="/bower_components/pure/base-context-min.css")
    link(rel="stylesheet", href="/bower_components/pure/base-min.css")
    link(rel="stylesheet", href="/bower_components/pure/buttons-core-min.css")
    link(rel="stylesheet", href="/bower_components/pure/buttons-min.css")
    link(rel="stylesheet", href="/bower_components/pure/forms-min.css")
    link(rel="stylesheet", href="/bower_components/pure/grids-core-min.css")
    link(rel="stylesheet", href="/bower_components/pure/grids-min.css")
    link(rel="stylesheet", href="/bower_components/pure/grids-units-min.css")
    link(rel="stylesheet", href="/bower_components/pure/menus-core-min.css")
    link(rel="stylesheet", href="/bower_components/pure/menus-min.css")
    link(rel="stylesheet", href="/bower_components/pure/menus-paginator-min.css")
    link(rel="stylesheet", href="/bower_components/pure/pure-min.css")
    link(rel="stylesheet", href="/bower_components/pure/tables-min.css")
    link(rel="stylesheet", href="/linker/styles/layout.css")
    // STYLES END
  body
    header
      include partials/_navigation
    section#contents
      block body

