extends ../layout

block body
  p#intro.
    Carpenter is a Node.js project to find out, what Steam games your friends and you have in common. 
    You can search for common games based on a list of Steam nicks or a Steam group name.
  p#credits.
    Made by: Taxus, Th0ra, deiga
  img(src='/images/nodejs.jpeg')
