extend ../layout

block body
  div#login
    |Give your Steam ID to get profile and friend information
    br
    form(action='/users/login' method='get')
      input(type='text', name='openid_identifier')
      input(type='submit', value='login')
