extend ../layout

block body
	h1 !{user.steam_nick}

	- if(games instanceof Array) for (var x = 0; x < games.length-1; x++)
			li 
				a(href='http://store.steampowered.com/app/'+games[x].appid) !{games[x].name}
	-	else
			p No games found :(